.slide{
    background-image: url('../../../images/slider/slide1.jpg');
    background-repeat: no-repeat;
    min-height:650px;
    position: relative;
}
.text{
    position:absolute;
    left: 500px;
    top:200px
}

@media only screen and (max-width: 550px) {
    .text{
    position:absolute;
    left: 100px;
    top:200px
}
}